<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
    <div class="p-3" style="text-align: end;"><button (click)="logout()" class="btn btn-danger">Logout</button></div>
    <div class="p-3" style="text-align: end;"><button (click)="delete()" class="btn btn-outline-warning">Delete</button></div>
    <h2 class="text-center">Welcome {{user}}</h2>
    <h1 style="text-align:center; margin-top: 111px; color: white; ">Deposit & Withdraw Money</h1>
    <div>
        <div style="color: white; background-color: aliceblue; border-radius: 20px; border: 1px solid blueviolet;"
            class="p-2 w-25  ms-3 text-center "><a style="text-decoration: none;" routerLink="/transaction">view
                transaction history</a></div>
    </div>
    <app-delete [item]="acn"></app-delete>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <!-- Deposit Form -->
        <div class="col-lg-4 col-md-6">
            <div class="login-page">
                <div class="form">
                    <div class="login">
                        <div class="login-header">
                            <h3 style="color: green;">Deposit</h3>
                            <!-- <p>Please enter your credentials to Deposit.</p> -->
                        </div>
                    </div>
                    <form (ngSubmit)="deposit()" class="login-form">
                        <input [(ngModel)]="acn" name="acn" type="text" placeholder="Enter Acc/No." />
                        <input [(ngModel)]="psw" name="psw" type="password" placeholder="password" />
                        <input [(ngModel)]="amnt" name="amnt" type="text" placeholder="Amount" />
                        <button type="submit">Deposit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Withdraw Form -->
        <div class="col-lg-4 col-md-6">
            <div class="login-page">
                <div class="form">
                    <div class="login">
                        <div class="login-header">
                            <h3 style="color: green;">Withdraw</h3>
                            <!-- <p>Please enter your credentials to Withdraw.</p> -->
                        </div>
                    </div>
                    <form (ngSubmit)="withdraw()" class="login-form">
                        <input [(ngModel)]="acn1" name="acn1" type="text" placeholder="Enter Acc/No." />
                        <input [(ngModel)]="psw1" name="psw1" type="password" placeholder="password" />
                        <input [(ngModel)]="amnt1" name="amnt1" type="text" placeholder="Amount" />
                        <button type="submit">Withdraw</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</body>

</html>