<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
    <div class="p-3" style="text-align: end;"><button (click)="logout()" class="btn btn-danger">Logout</button></div>
    <div class="pe-3" style="text-align: end;"><button (click)="delete()"
            class="btn btn-outline-warning">Delete</button></div>
    <h2 class="text-align:start ms-4 mb-2"
        style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Welcome {{user}}</h2>
    <!-- <h1 style="text-align:center; margin-top: 111px; color: white; ">Deposit & Withdraw Money</h1> -->
    <div>
        <div class="ms-4"><a style=" color: yellow;font-family:Verdana, Geneva, Tahoma, sans-serif;"
                routerLink="/transaction">view
                transaction history</a></div>
        <h4 class="ms-4" style="font-size:smaller;color: rgb(71, 23, 201);">System Date & Time: {{sdate |date:'short'}}</h4>
    </div>


    <!-- Child Selector -->
    <app-delete [item]="acn" (OnCancel)="onCancel()" (onDelete)="onDelete($event)"></app-delete>


    <div class="row" [ngClass]="acn? 'style1':''"> <!--[ngClass=""] is used to hide this div on clicking delete button-->
    <div class="col-lg-2">
    </div>
    <!-- Deposit Form -->
    <div class="col-lg-4 col-md-6">
        <div class="login-page">
            <div class="form">
                <div class="login">
                    <div class="login-header">
                        <h3 style="color: green;">Deposit</h3>
                        <!-- <p>Please enter your credentials to Deposit.</p> -->
                    </div>
                </div>
                <form [formGroup]="depositForm"(ngSubmit)="deposit()" class="login-form">
                    <input formControlName="acn" name="acn" type="text" placeholder="Enter Acc/No." />
                    <div class="text-danger mb-2" *ngIf="this.depositForm.get('acn')?.errors && this.depositForm.get('acn')?.touched">Invalid Acc/No.</div>
                    
                    <input formControlName="psw" name="psw" type="password" placeholder="password" />
                    <div class="text-danger mb-2" *ngIf="this.depositForm.get('psw')?.errors && this.depositForm.get('psw')?.touched">Invalid Password.</div>
                    
                    <input formControlName="amnt" name="amnt" type="text" placeholder="Amount" />
                    <div class="text-danger mb-2" *ngIf="this.depositForm.get('amnt')?.errors && this.depositForm.get('amnt')?.touched">Invalid Data</div>
                    
                    <button type="submit">Deposit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Withdraw Form -->
    <div class="col-lg-4 col-md-6">
        <div class="login-page">
            <div class="form">
                <div class="login">
                    <div class="login-header">
                        <h3 style="color: green;">Withdraw</h3>
                        <!-- <p>Please enter your credentials to Withdraw.</p> -->
                    </div>
                </div>
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()" class="login-form">
                    <input formControlName="acn1" name="acn1" type="text" placeholder="Enter Acc/No." />
                    <div class="text-danger mb-2" *ngIf="this.withdrawForm.get('acn1')?.errors && this.withdrawForm.get('acn1')?.touched">Invalid Acc/No.</div>

                    <input formControlName="psw1" name="psw1" type="password" placeholder="password" />
                    <div class="text-danger mb-2" *ngIf="this.withdrawForm.get('psw1')?.errors && this.withdrawForm.get('psw1')?.touched">Invalid Acc/No.</div>

                    <input formControlName="amnt1" name="amnt1" type="text" placeholder="Amount" />
                    <div class="text-danger mb-2" *ngIf="this.withdrawForm.get('amnt1')?.errors && this.withdrawForm.get('amnt1')?.touched">Invalid Acc/No.</div>

                    <button type="submit">Withdraw</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
    </div>
</body>

</html>